*{
    margin: 0;
    padding: 0 ;
}

.cabecalho{
    background-color: #C8FBBC;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cabecalho-logo{
    width: 206px;
   height: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.biotecnologia-imagem{
    width: 15%;
    height: 300px;
    margin: 30px;
}
.Biotecnologia {
    background-image: linear-gradient(
        #c2e3bd 54%, #c8f0c0 56%);
        color: #100101;
        display: flex;

}
.Biotecnologia-conteudo {
    width: 35%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.titulo-biotecnologia{
    font-size: 36px;
}
.texto-biotecnologia {
    padding: 24px;
    display: block;
}
.card{
    background-image: linear-gradient(
        #c2e3bd 54%, #c8f0c0 56%);
        color: #100101;
        display: flex;
        display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.card-cores{
    font-size: 36px;
    padding: 24px;
    margin: 0%;

}


    
    
    